INSERT INTO HDFS_CONNECTIONS (USER_ID, IP_PRIVATE_ADDRESS, IP_PUBLIC_ADDRESS, IS_HDFS, IS_HIVE, IS_LOCALFS, IS_NETWORK_STREAMING, HDFS_PORT, HDFS_USER, HDFS_PASSWORD, HDFS_PATH, HIVE_PORT, HIVE_USER, HIVE_PASSWORD, LOCALFS_USER, LOCALFS_PASSWORD, LOCALFS_PATH, NETWOTK_STREAMING_IP, NETWOTK_STREAMING_PORT, CREATED_DATE, LAST_MODIFIED_DATE) 
VALUES ('admin', 'SED_NNIP', '', true, true, true, false, SED_NNPORT, 'SED_HADUSER', 'SED_HADPASSWD', '/', 10000, 'SED_HIVEUSER', 'SED_HIVEPASSWD', 'SED_LOCUSER', 'SED_LOCPASSWD', '/', '',0 , 'SED_DATE', 'SED_DATE');
